<div class=" container p-5" style="height: auto; background-color: #A8C686;">
    <div class="row">
        <div class="col-lg-4">
            <h4 class="text-light"><i class="fa-solid fa-graduation-cap"></i>Cookpedia</h4>
            <p class="text-light mt-4">Discover 100+ recipes in your hand with the best recipe. Help you to find the easiest way to cook</p>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-5">
            <h5 class="text-light">Sign up for our news letters</h5>
            <div class="d-flex align-items-center justify-content-between mt-4">
                <input class="form-control me-2" type="text" placeholder="enter email">
                <button class="btn" style="background-color:#8aab6a;"><i class="fa-solid fa-arrow-right text-light"></i></button>
            </div>
            <div class="row mt-4">
                <div class="col-lg-4">
                    <h4 class="text-light">Menu</h4>
                    <a class="text-light text-decoration-none" routerLink="/">Home</a><br>
                    <a class="text-light text-decoration-none" routerLink="/recipes">Recipes</a><br>
                    <a class="text-light text-decoration-none" routerLink="/login">Login</a><br>
                    <a class="text-light text-decoration-none" routerLink="/register">Register</a>

                </div>
                <div class="col-lg-4">
                    <h4 class="text-light">Help</h4>
                    <a class="text-light text-decoration-none" href="">Privacy&Policy</a><br>
                    <a class="text-light text-decoration-none" href="">Terms of Use</a><br>
                    <a class="text-light text-decoration-none" href="">About</a><br>
                    <a class="text-light text-decoration-none" href="">Contact Us</a>
                </div>
                <div class="col-lg-4">
                    <h4 class="text-light">Social Media</h4>
                    <a class="text-light text-decoration-none" href="">Facebook</a><br>
                    <a class="text-light text-decoration-none" href="">Instagram</a><br>
                    <a class="text-light text-decoration-none" href="">Twitter</a><br>
                    <a class="text-light text-decoration-none" href="">Youtube</a>
                </div>
            </div>

        </div>
    </div>
</div>
