<app-header></app-header>

<div class="container my-5">
    <div class="row">
        <div class="col-lg-4">
            <h2 style="margin-left: 30px;">My Profile</h2>
    <label>
        <input (change)="getFile($event)" type="file" name="" id="" style="display: none;">
        <img style="height: 200px;width: 200px;border-radius: 100%;  cursor: pointer;" [src]="profileImg" alt="">
    </label><br>
    <button (click)="updateProfile()" class="btn bg-success m-4 text-white" >Update profile</button>
        </div>
        <div class="col-lg-8">
            <h2 >Download recipe list</h2>
    <div class="row my-5">
        @if (downloadList.length>0){
            @for(recipe of downloadList;track $index){
                <div class="col-lg-4">
                <div class="p-3">
                    <img class="card-img-top" [src]="recipe.recipeImage" alt="">
                </div>
                <div class="card-body">
                    <h5 class="ms-3">{{recipe.recipeName}}</h5>
    
                </div>
            </div>
            }
        }
        @else {
            <div class="fw-bold text-danger text-center">No recipes downloaded yet</div>
        }
        
    </div>

        </div>
    </div>
</div>
<app-footer></app-footer>



    


